
body {

  background-color: #f8f8f7;
  color: #212121;
  font-family: 'Arial', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;

 

}


.bookimgs {
  height: 350px;
  width: 250px;
  text-decoration: none;
  padding: 15px 10px;

}

.imgcontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px -5px -29px 0px;
  margin-bottom: -3em;

}

h1 {
  font-size: 100px;
  text-decoration: none;
  text-align: center;
  
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
 
 }